<div ng-controller="app.views.marketingDashboard">
    <md-content flex layout-padding>
        <div layout="row">
            <div flex-xs="" flex-gt-xs="33" layout="column">
                <md-card style="background-color: #0288d1">
                    <md-card-title>
                        <md-card-title-text style="color: white">
                            <span class="md-headline">{{dashboard.bdo}} Order(s)</span>
                            <span class="md-subhead">in BOD Review</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex-xs="" flex-gt-xs="33" layout="column">
                <md-card class="md-theme-green">
                    <md-card-title style="background-color: #72d572">
                        <md-card-title-text style="color: white">
                            <span class="md-headline">{{dashboard.delivered}} Order(s)</span>
                            <span class="md-subhead">Has been Delivered</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex-xs="" flex-gt-xs="33" layout="column">
                <md-card class="yellow">
                    <md-card-title style="background-color: #e6ee9c">
                        <md-card-title-text style="color: white">
                            <span class="md-headline">{{dashboard.waiting}} Order(s)</span>
                            <span class="md-subhead">Waiting For Payment</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-selection class="myGrid"></div>
            </div>
        </div>
    </md-content>
</div>


<script type="text/ng-template" id="view-order-bod.tmpl.html">
    <md-dialog aria-label="Mango (Fruit)" ng-cloak>
        <form name="poForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Place Order</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-subheader class="md-sticky">Grand Total : {{po.grandTotal | currency:"Rp"}}</md-subheader>
                <div class="md-dialog-content">
                    <md-input-container class="md-block">
                        <label>Receipt</label>
                        <input ng-model="po.receiptNumber" ng-show="isPaid">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Address</label>
                        <input ng-model="po.address" disabled>
                    </md-input-container>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Province</label>
                            <input ng-model="po.province" disabled>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>City</label>
                            <input ng-model="po.city" disabled>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Postal Code</label>
                            <input name="postalCode" ng-model="po.postalCode" placeholder="12345"
                                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5" disabled>
                            <div ng-messages="poForm.postalCode.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                <div ng-message="pattern" class="my-message">
                                    That doesn't look like a valid postal
                                    code.
                                </div>
                            </div>
                        </md-input-container>

                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Expedition</label>
                            <input ng-model="po.expedition" disabled>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container>
                            <md-subheader class="md-sticky">Ordered Items: </md-subheader>
                            <md-list-item ng-repeat="supply in supplies">
                                <p> {{ supply.item.name }} </p>
                                <input type="number" min="0" class="pull-right" ng-model="supply.quantity" style="margin-left:40px;" ng-disabled="isPaid">
                            </md-list-item>
                        </md-input-container>
                    </div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="updateReceipt()" ng-show="isPaid">
                    Update Receipt
                </md-button>
                <md-button ng-click="update()">
                    Update
                </md-button>               
                <md-button ng-click="approve()">
                    Send to Accounting
                </md-button>
                <md-button ng-click="reject()">
                    Reject
                </md-button>
                <md-button ng-click="cancel()" ng-show="isBod">
                    Cancel
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
