<div style="background-color: #007fff; " flex ng-controller="app.views.layout.footer as foot">
    <div class="col-md-4">
        <ul class="nav">
            <li>
                <a href="#/hwto" target="#home" style="color:white;"><i class="fa fa-file-text-o"></i> Panduan Belanja</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="nav">
            <li>
                <a href="#/terms" target="#home" style="color:white;"><i class="fa fa-file-text-o"></i> Syarat &amp; Ketentuan</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4" style="color: white;">
        <h4>Hubungi Kami:</h4>
        <h2>(022)-6126824</h2>
        <b>Senin - Jumat : 09.00 - 17.00 WIB</b>
    </div>
</div>

