<div ng-controller="app.views.retailerDashboard" layout="column">
    <md-content flex layout-padding>
        <div layout="row">
            <div flex-xs="" flex-gt-xs="33" layout="column">
                <md-card style="background-color: #0288d1">
                    <md-card-title>
                        <md-card-title-text style="color: white">
                            <span class="md-headline">{{dashboard.bdo}} Order(s)</span>
                            <span class="md-subhead">In Review</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex-xs="" flex-gt-xs="33" layout="column">
                <md-card class="md-theme-green">
                    <md-card-title style="background-color: #72d572">
                        <md-card-title-text style="color: white">
                            <span class="md-headline">{{dashboard.delivered}} Order(s)</span>
                            <span class="md-subhead">Has been Delivered</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex-xs="" flex-gt-xs="33" layout="column">
                <md-card class="yellow">
                    <md-card-title style="background-color: #e6ee9c">
                        <md-card-title-text style="color: white">
                            <span class="md-headline">{{dashboard.waiting}} Order(s)</span>
                            <span class="md-subhead">Waiting For Payement</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div flex-xs="" flex-gt-xs="90" layout="column">
                    <canvas id="line" class="chart chart-line" chart-data="data"
                            chart-labels="labels" chart-legend="true" chart-series="series"
                            chart-click="onClick"></canvas>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div clas="col" style="margin-bottom: 5px; float: right">
                        <span class="btn btn-success" ng-click="refresh(false)" style="padding:5px; width: 100px; text-align:center">Pending</span> 
                        <span class="btn btn-info" ng-click="refresh(true)" style="padding:5px; width: 100px; text-align:center">Paid</span>
                    </div>
                </div>
            </div>
            <div class="col">
                    <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-selection class="myGrid"></div>
            </div>
        </div>
    </md-content>

    <script type="text/ng-template" id="order.tmpl.html">
        <md-dialog aria-label="Mango (Fruit)" ng-cloak>
            <form name="poForm">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Place Order</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon md-svg-src="" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <md-subheader class="md-sticky">Grand Total : {{po.grandTotal | currency:"Rp"}}</md-subheader>
                    <div class="md-dialog-content">
                        <md-input-container class="md-block">
                            <label>Address</label>
                            <input ng-model="po.address">
                        </md-input-container>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Province</label>
                                <input ng-model="po.province">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>City</label>
                                <md-select ng-model="po.city">
                                    <md-option ng-repeat="city in cities">
                                        {{city.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Postal Code</label>
                                <input name="postalCode" ng-model="po.postalCode" placeholder="12345"
                                       required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                                <div ng-messages="poForm.postalCode.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                    <div ng-message="pattern" class="my-message">
                                        That doesn't look like a valid postal
                                        code.
                                    </div>
                                </div>
                            </md-input-container>

                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Expedition</label>
                                <md-select ng-model="po.expedition">
                                    <md-option ng-repeat="expedition in expeditions">
                                        {{expedition.expedition}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container>
                                <md-subheader class="md-sticky">Available Item to Order</md-subheader>
                                <md-list-item ng-repeat="item in supplies">
                                    <p> {{ item.name }} </p>
                                    <input type="number" min="0" ng-model="item.quantity" ng-change="calculate($index)" style="margin-left:40px;">
                                </md-list-item>
                            </md-input-container>
                        </div>
                    </div>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="cancel()">
                        Cancel
                    </md-button>
                    <md-button ng-click="place()" style="margin-right:20px;" ng-hide="error">
                        Place
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>

    <script type="text/ng-template" id="view-order.tmpl.html">
        <md-dialog aria-label="Mango (Fruit)" ng-cloak>
            <form name="poForm">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Place Order</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon md-svg-src="" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <md-subheader class="md-sticky">Grand Total : {{po.grandTotal | currency:"Rp"}}</md-subheader>
                    <div class="md-dialog-content">
                        <md-card>
                            <img src="{{image}}" class="md-card-image" alt="image caption">
                            <md-card-content>Payment Receipt</md-card-content>
                        </md-card>
                        <md-input-container class="md-block">
                            <label>Address</label>
                            <input ng-model="po.address" disabled>
                        </md-input-container>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Province</label>
                                <input ng-model="po.province" disabled>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>City</label>
                                <input ng-model="po.city" disabled>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Postal Code</label>
                                <input name="postalCode" ng-model="po.postalCode" placeholder="12345"
                                       required ng-pattern="/^[0-9]{5}$/" md-maxlength="5" disabled>
                                <div ng-messages="poForm.postalCode.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                    <div ng-message="pattern" class="my-message">
                                        That doesn't look like a valid postal
                                        code.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Expedition</label>
                                <input ng-model="po.expedition" disabled>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container>
                                <md-subheader class="md-sticky">Ordered Items: </md-subheader>
                                <md-list-item ng-repeat="supply in supplies">
                                    <p> {{ supply.item.name }} </p>
                                    <input type="number" min="0" class="pull-right" ng-model="supply.quantity" disabled style="margin-left:40px;">
                                </md-list-item>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row" ng-show="isApproved" ng-disable="isNotBOD">
                            <input type="file" id="file" name="file" onchange="angular.element(this).scope().getFile(this)" />
                            <md-button ng-click="upload()" style="margin-right:20px;" ng-hide="error" ng-disabled="checkStatus">
                                Upload payment receipt
                            </md-button>
                        </div>
                    </div>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="cancel()">
                        Cancel
                    </md-button>

                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
</div>
<style>
    .md-toolbar {
        position: relative;
    }

    .md-fab {
        position: absolute;
        right: 16px;
        bottom: 0px;
    }
</style>
