<div ng-controller="app.views.home as vm">
    @*<h1>@L("WellcomeMessage")</h1>*@
    @*<p class="lead">@L("Home_ThisIsATemplate")</p>*@
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-body">
                    <blockquote>
                        <h1>1 </h1><small>Reviewed By BOD</small>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-body">
                    <blockquote>
                        <h1>1</h1> <small>Delivered</small>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-body">
                    <blockquote>
                        <h1>1 </h1> <small>Waiting Payment</small>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>