<div ng-controller="app.views.home.howtoorder">
    <p>Ordering Process:</p>
    <ul>
        <li> 1. Untuk melakukan order, anda dapat langsung memasukkan barang yang diinginkan melalui <a>Home</a>. </li>
        <li> 2. Setelah selesai melakukan order, anda perlu men-checkout pemesanan barang yang diinginkan melalui <a>Cart</a>. </li>
        <li> 3. Pemesanan barang yang anda lakukan akan kami proses terlebih dahulu, max 3x24 jam.</li>
        <li> 4. Setelah pemesanan barang disetujui oleh pihak Animart, kami akan mengirimkan notifikasi berupa email, mengenai berapa jumlah pembayaran yang harus anda transfer melalui Rekening di bawah <a>ini</a>.</li>
        <li> 5. Jika sudah melakukan pembayaran harap melakukan konfirmasi pembayaran melalui link yang ada pada dashboard </li>
        <li> 6. Setelah pembayaran diterima dan dicek, kami akan segera melakukan proses packing dan memberikan notifikasi melalui email untuk invoice dan no.resi pembayaran.</li>
    </ul>

    <p>Pembayaran dilakukan melalui no.rekening:</p>
    <p><b>Bank Central Asia (BCA)</b></p>
    <p><b>Acc : 453-221-7788</b></p>
    <p><b>A/n : Frans Setiadi / Indra Lukito</b></p>
</div>
