<div ng-controller="app.views.home.howtoorder" style="line-height:2;">
    <h2>CARA PEMESANAN:</h2>
    <ol>
        <li>Silahkan memilih item yang diinginkan pada tabulasi <b>HOME</b> atau <b>PRODUCT LIST</b>.</li>
        <li>Klik pada gambar atau pada tombol <b>“DETAIL”</b>.</li>
        <li>Masukan jumlah yang diinginkan dan klik pada tombol <b>“ADD TO CART”</b>.<br/>
            Item yang dipilih akan masuk kedalam Cart / Keranjang belanja di pojok kanan atas.</li>
        <li>Jika telah selesai memilih barang, silahkan klik tombol <b>“CHECK OUT”</b>, dan anda akan diteruskan ke halaman <b>REVIEW ORDER</b> final.</li>
        <li>Silahkan mengisi alamat pengiriman, propinsi, kota, kode pos, no telp.</li>
        <li>Silahkan memilih jasa kurir / ekspedisi yang anda inginkan.</li>
        <li>Estimasi biaya kirim akan tercantum pada bagian total shipping.</li>
        <li>
            catatan penting untuk jasa kurir / ekspedisi :
            <ol type="a">
                <li>
                    Perhitungan biaya pengiriman berdasarkan berat x tarif per kilogram atau berdasarkan volume.
                </li>
                <li>
                    Tarif bisa berubah setiap saat tanpa pemberitahuan sebelumnya.
                </li>
                <li>
                    Resiko yang terjadi dalam perjalanan maupun keterlambatan pengiriman bukan menjadi tanggung jawab kami.
                </li>
                <li>Harga tarif ini hanya merupakan referensi. Segala perubahan dan beban tambahan yang terjadi sepenuhnya akan dibebankan pada pembeli.
                </li>
            </ol>
        </li>
        <li>Jika sudah selesai silahkan mengklik tombol <b>ORDER NOW.</b></li>
        <li>Anda dapat memantau order anda pada tabulasi <a>ORDER HISTORY</a> yang terletak di halaman atas website ini.</li>
        <li>Team kami akan melakukan cross cek quantity barang yang tersedia dengan jumlah order. Jika sudah konfirm akan jumlah barang, order akan diteruskan ke bagian accounting kami.</li>
        <li>Silahkan melakukan pembayaran via transfer bank ke rekening yang kami tunjuk, dan mengkonfirmasi transfer kepada kami.</li>
        <li>Apabila dana transfer telah kami terima dalam rekening kami, kami akan langsung memproses pengiriman segera.</li>
        <li>Catatan : Jika transfer terjadi melebihi jam pada jadwal pengiriman, akan otomatis di jadwalkan ke hari berikutnya sesuai hari dan jam kerja.</li>
        <li>
            Jadwal pengiriman :
            <ol type="a">
                <li>Senin – Jumat 09.00 – 15.00 WIB.</li>
                <li>Sabtu, minggu dan hari libur lainnya tidak ada jadwal pengiriman.</li>
            </ol>
        </li>
        <li>Setelah kami menerima resi pengiriman, kami akan update no resi pada <a>ORDER HISTORY</a> anda.</li>
    </ol>

    <h2>CARA PEMBAYARAN:</h2>
    <p>
        Seperti layaknya transfer pada umumnya, Anda dapat membayar pesanan Anda melalui ATM terdekat, internet banking, 
        m-banking atau SMS banking. Setelah melakukan transfer, mohon agar segera mengupload bukti transfer pada website ini atau menghubungi kami langsung via telp.
    </p>
    <p>Pembayaran dilakukan melalui no.rekening:</p>
    <p><b>Bank Central Asia (BCA)</b></p>
    <p><b>Acc : 453-221-7788</b></p>
    <p><b>A/n : Frans Setiadi / Indra Lukito</b></p>
</div>
