<style>
    dd {
        margin:15px 0;
    }
</style>
<div ng-controller="app.views.home.termAndCondition" style="line-height:175%;">
    <h1 align="center"name="home">Terms &amp; Conditions</h1>
    <h2>PENDAHULUAN</h2>
    <ol>
        <li>
            <h3>Ketentuan Penggunaan Situs</h3>
            Saat mengunjungi dan menggunakan situs Shop.animart.co.id, termasuk setiap fitur dan layanannya, Setiap Pengguna wajib untuk mematuhi ketentuan Pengguna Situs berikut ini:
            <dl>
                <dd>
                    1.1. Pengguna minimum berusia 18 Tahun, Sudah Pernah Menikah, atau Yang telah memiliki persyaratan yang diakui secara hukum termasuk dalam kategori Pengguna yang sudah dewasa / terlepas dari Hukum Perlindungan Anak.
                </dd>
                <dd>
                    1.2. Akses situs ini hanya diperkenankan untuk keperluan dan kepentingan berbelanja dan informasi terkait dengan layanan situs ini.
                </dd>
                <dd>
                    1.3. Pengguna tidak diperkenankan untuk mereproduksi, mendistribusikan, memajang, menjual, menyewakan, mengirimkan, membuat karya turunan dari, menerjemahkan, memodifikasi, merekayasa balik, membongkar, mengurai atau mengeksploitasi situs Shop.animart.co.id.
                </dd>
                <dd>
                    1.4. Pengguna tidak diperkenankan untuk memuat dan menerbitkan konten yang:
                    <dl>
                        <dd>
                            1.4.1 Melanggar hak cipta, paten, merek dagang, merek layanan, rahasia dagang, atau hak kepemilikan lainnya.
                        </dd>
                        <dd>
                            1.4.2 Mengancam, cabul, tidak senonoh, pornografi atau bisa menimbulkan segala kewajiban Hukum perdata atau pidana Indonesia atau hukum internasional.
                        </dd>
                        <dd>
                            1.4.3 Mengandung bug, virus, worm, pintu perangkap, trojan horse atau kode dan property berbahaya lainnya.
                        </dd>
                        <dd>
                            1.4.4 Produk yang ditawarkan bukan merupakan produk buatan Shop.animart.co.id, tetapi dari Vendor.
                        </dd>
                    </dl>
                </dd>
            </dl>
        </li>
        <li>
            <h3>Hak Milik Intelektual</h3>
            <dl>
                PT Animart Hobi Kreatif adalah pemilik tunggal atau pemegang sah semua hak atas Situs dan konten situs Shop.animart.co.id. Seluruh konten yang terdapat di dalam situs Shop.animart.co.id mencakup hak milik intelektual yang dilindungi oleh undang-undang hak cipta dan undang-undang yang melindungi kekayaan intelektual lainnya yang berlaku di seluruh dunia. Semua hak milik dan hak milik intelektual atas situs Shop.animart.co.id dan isinya tetap pada Kami, afiliasinya atau pemilik lisensi Isi situs Shop.animart.co.id. Semua hak yang tidak dicantumkan di dalam Perjanjian ini atau oleh Kami dengan ini dilindungi undang-undang diantaranya yaitu:
                <dd>2.1 Seluruh Kepemilikan Perangkat Lunak.</dd>
                <dd>
                    2.2 Nama Shop.animart.co.id, ikon serta logo terkait merupakan merek dagang terdaftar di berbagai wilayah
                    hukum dan dilindungi undang-undang tentang hak cipta, merek dagang atau hak milik kekayaan intelektual
                    lainnya. Dilarang keras menggunakan, mengubah, atau memasang merek-merek tersebut di atas untuk
                    kepentingan pribadi dan untuk mendeskriditkan Shop.animart.co.id.
                </dd>
            </dl>
        </li>
        <li>
            <h3>Links</h3>
            Situs ini dapat berisi link internet ke situs lainnya yang dimiliki dan dioperasikan oleh pihak ketiga.
            Perlu Anda ketahui, bahwa kami tidak bertanggung jawab terhadap pengoperasian ataupun konten yang terletak 
            di situs tersebut.
        </li>
        <li>
            <h3>Transaksi</h3>
            <dl>
                <dd>
                    4.1 Harga yang tertera di website Shop.animart.co.id belum termasuk Ongkos Kirim, Tarif Armada ataupun kurir ke luar kota (ekspedisi).
                </dd>
                <dd>
                    4.2 Untuk pembelian online melalui shopping cart, pesanan dan pengiriman akan diproses setelah pembayaran diterima oleh rekening bank. Lama waktu pengiriman disesuaikan dengan area layanan daerah tujuan. Untuk pengiriman yang yang menggunakan ekspedisi, kami bekerja sama dengan pihak jasa kurir services.
                </dd>
                <dd>
                    4.3 Ketersedian barang dapat berubah sewaktu-waktu.
                </dd>
                <dd>
                    4.4 Barang yang telah dibeli tidak dapat dikembalikan atau ditukar dengan barang lain.
                </dd>
                <dd>
                    4.5 Segala usaha maksimal telah dilakukan untuk menyakinkan ketepatan seluruh informasi yang dimuat. PT. Animart Hobi Kreatif tidak menjamin dengan segala hormat akan ketepatan data tersebut, termasuk spesifikasi produk maupun editorial.
                </dd>
                <dd>
                    4.6 PT. Animart Hobi Kreatif tidak bertanggung jawab atas semua resiko yang terjadi dalam perjalanan maupun keterlambatan pengiriman. Anda akan menerima email notifikasi mengenai Nomor Resi Pengiriman setelah produk pesanan Anda dikirim. Selanjutnya ada dapat memantau status pesanan Anda dengan menggunakan fitur website jasa kurir yang ditunjuk.
                </dd>
                <dd>
                    4.7 Perhitungan biaya pengiriman berdasarkan berat x tarif per kilogram atau berdasarkan volume.
                </dd>
                <dd>
                    4.8 Tarif jasa kurir bisa berubah setiap saat tanpa pemberitahuan sebelumnya.
                </dd>
                <dd>
                    4.9 Harga tarif ini hanya merupakan referensi. Segala perubahan dan beban tambahan yang terjadi sepenuhnya akan dibebankan pada pembeli.
                </dd>
            </dl>
        </li>
        <li>
            <h3>Harga</h3>
            Jika dalam keadaan tertentu, terdapat kesalahan harga ataupun informasi mengenai suatu produk
            tertentu yang disebabkan oleh kesalahan pengetikan (Typo) atau kesalahan harga dan informasi
            yang berasal dari supplier, Shop.animart.co.id berhak untuk menolak ataupun membatalkan pesanan 
            yang menggunakan harga yang salah termasuk pesanan yang sudah dibayarkan.
        </li>
        <li>
            <h3>Deskripsi Produk</h3>
            Shop.animart.co.id selalu berusaha untuk memberikan deskripsi produk seakurat mungkin. Tetapi
            kami tidak dapat 100% menjamin bahwa seluruh deskripsi atau konten yang terdapat di dalam website
             adalah akurat, lengkap, terbaru, atau bebas error.
        </li>
        <li>
            <h3>Ketersediaan Barang</h3>
            Demi mempertahankan harga jual yang tetap kompetitif, sangat sukar bagi pihak kami untuk
            selalu menyediakan (ready stock) setiap produk yang kami tampilkan di Shop.animart.co.id. 
            Staff kami akan dengan senang hati melakukan revisi quantity order sesuai dengan keterbatasan stock yang ada.
        </li>
        <li>
            <h3>Pengguna Terdaftar - Membership</h3>
            <dl>
                <dd>8.1	Menjadi Pengguna Terdaftar, selanjutnya akan disebut sebagai "Member Shop.animart.co.id", tidak dipungut biaya / gratis.
                </dd><dd>
                    8.2 Dengan memilih untuk membuat akun sebagai member dari situs Shop.animart.co.id, Member Shop.animart.co.id akan membuat sebuah nama akun dan password ketika menyelesaikan proses registrasi.
                </dd>
                <dd>
                    8.3 Member Shop.animart.co.id bertanggung jawab untuk menjaga kerahasiaan dan keamanan atas nama akun dan password serta Pengguna Terdaftar bertanggung jawab sepenuhnya atas segala kegiatan yang diatasnamakan nama akun Pengguna Terdaftar.
                </dd>
                <dd>
                    8.4 Member Shop.animart.co.id menyetujui untuk:
                </dd>
                <dd>
                    8.4.1 Segera memberitahukan kepada Kami setiap adanya dugaan penggunaan yang tidak sah / valid dengan pengatasnamaan nama akun Member Anda.
                </dd>
                <dd>
                    8.4.2 Memastikan bahwa Member Shop.animart.co.id keluar (log out) dari akun pada setiap akhir dari aktivitas pada situs Shop.animart.co.id untuk menghindari kemungkinan terjadinya penyalahgunaan atas akun yang bersangkutan.
                </dd>
                <dd>
                    8.4.3 Kami berhak sepenuhnya untuk membatasi, memblokir atau mengakhiri pelayanan dari suatu akun, melarang akses ke situs Shop.animart.co.id dan konten, layanan, dan memperlambat atau menghapus hosted content, dan mengambil langkah-langkah hukum untuk menjaga Member Shop.animart.co.id atau pengguna lain jika Kami menganggap Member Shop.animart.co.id atau pengguna lain melanggar hukum-hukum yang berlaku, melanggar hak milik intelektual dari pihak terkait, atau melakukan suatu pelanggaran yang melanggar hal-hal yang tertera pada Perjanjian ini.
                </dd>
                <dd>
                    8.4.4	Bahwa Member Shop.animart.co.id tidak diperkenankan menjual, berupaya menjual, menawarkan untuk menjual, memberikan, menyerahkan atau mengalihkan Akun, Identitas Pengguna atau Sandi kepada pihak ketiga tanpa sepengetahuan dan persetujuan tertulis sebelumnya dari Kami. Kami dapat menangguhkan atau menghentikan Akun Member Shop.animart.co.id atau Akun pihak yang menerima pengalihan dari Member Shop.animart.co.id yang dijual, ditawarkan untuk dijual, diberikan, diserahkan atau dialihkan dengan melanggar ketentuan dalam Pasal ini. Apabila dengan keterbatasan kemampuan Kami dalam mengidentifikasi pelanggaran ini, maka seluruh akibat, resiko adalah merupakan tanggung jawab dari Member Shop.animart.co.id yang mengalihkan.
                </dd>
            </dl>
        </li>
    </ol>
</div>
