<div ng-controller="app.views.accountingDashboard">
    <md-content flex layout-padding>
        <div layout="row">
            <div flex-xs="" flex-gt-xs="33" layout="column">
                <md-card style="background-color: #0288d1">
                    <md-card-title>
                        <md-card-title-text style="color: white">
                            <span class="md-headline">{{dashboard.accounting}} Order(s)</span>
                            <span class="md-subhead">In Review</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex-xs="" flex-gt-xs="33" layout="column">
                <md-card class="yellow">
                    <md-card-title style="background-color: #72d572">
                        <md-card-title-text style="color: white">
                            <span class="md-headline">{{dashboard.waiting}} Order(s)</span>
                            <span class="md-subhead">Waiting For Payment</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex-xs="" flex-gt-xs="33" layout="column">
                <md-card class="md-theme-green">
                    <md-card-title style="background-color: #284e28">
                        <md-card-title-text style="color: white">
                            <span class="md-headline">{{dashboard.delivered}} Order(s)</span>
                            <span class="md-subhead">Has been Delivered</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div clas="col" style="margin-bottom: 5px; float: right" ng-repeat="tab in orderType">
                        <span class="btn btn-default" ng-click="changeType(tab.no)" ng-class="{'btn-primary': tab.no == statusType }" style="padding: 5px; margin-right: 10px; min-width: 100px; text-align: center;">{{tab.name}}</span>
                    </div>
                </div>
                <div class="row">
                    <div clas="col" style="margin-bottom: 5px; float: right;" ng-repeat="tab in tabOrders">
                        @*<span class="btn btn-danger" ng-click="changeTab(0)" style="padding: 5px; width: 100px; text-align: center">Rejected</span>
                        <span class="btn btn-default" ng-click="changeTab(1)" style="padding:5px; width:100px; text-align:center">In Marketing</span>
                        <span class="btn btn-success" ng-click="changeTab(2)" style="padding:5px; width:100px; text-align:center">Need Review</span>
                        <span class="btn btn-warning" ng-click="changeTab(3)" style="padding: 5px; text-align: center">Waiting For Payment</span>
                        <span class="btn btn-success" ng-click="changeTab(6)" style="padding: 5px; text-align: center;width:100px;">Paid</span>
                        <span class="btn btn-info" ng-click="changeTab(4)" style="padding:5px; width:100px; text-align:center">On Delivery</span>
                        <span class="btn btn-primary" ng-click="changeTab(5)" style="padding: 5px; margin-right: 10px; width: 100px; text-align: center">Done</span>*@
                        <span class="btn btn-default" ng-click="changeTab(tab.no)" ng-class="{'btn-primary': tab.no == statusGrid }" style="padding: 5px; margin-right: 10px; min-width: 100px; text-align: center;">{{tab.name}}</span>
                        
                        @*<span class="btn btn-default" ng-click="changeTab(0)" ng-class="{'btn-primary': 0 == statusGrid }" style="padding: 5px; width: 100px; text-align: center">Rejected</span>
                        <span class="btn btn-default" ng-click="changeTab(1)" ng-class="{'btn-primary': 1 == statusGrid }" style="padding:5px; width:100px; text-align:center">In Marketing</span>
                        <span class="btn btn-default" ng-click="changeTab(2)" ng-class="{'btn-primary': 2 == statusGrid }" style="padding:5px; width:100px; text-align:center">Need Review</span>
                        <span class="btn btn-default" ng-click="changeTab(3)" ng-class="{'btn-primary': 3 == statusGrid }" style="padding: 5px; text-align: center">Waiting For Payment</span>
                        <span class="btn btn-default" ng-click="changeTab(6)" ng-class="{'btn-primary': 6 == statusGrid }" style="padding: 5px; text-align: center;width:100px;">Paid</span>
                        <span class="btn btn-default" ng-click="changeTab(4)" ng-class="{'btn-primary': 4 == statusGrid }" style="padding:5px; width:100px; text-align:center">On Delivery</span>
                        <span class="btn btn-default" ng-click="changeTab(5)" ng-class="{'btn-primary': 5 == statusGrid }" style="padding: 5px; margin-right: 10px; width: 100px; text-align: center">Done</span>*@
                    </div>
                </div>
            </div>
            <div class="col">
                <div ui-grid="gridOptions" ui-grid-edit ui-grid-resize-columns ui-grid-row-edit ui-grid-cellNav ui-grid-selection class="myGrid"></div>
            </div>
        </div>
    </md-content>
</div>

<script type="text/ng-template" id="view-order-accounting.tmpl.html">
    <md-dialog aria-label="Accounting" ng-cloak class="fullscreen-dialog">
        <form name="poForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Order Details ({{po.creationTime | date: "dd-MMMM-yyyy, HH:mma"}}) - {{status}} - {{po.creatorUser.name}} {{po.creatorUser.surname}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" style="font-size:30px;" ng-click="print()">
                        @*<md-icon md-svg-src="" aria-label="Close dialog"></md-icon>*@
                        <span class="fa fa-print"  aria-label="Print dialog"></span>
                    </md-button>
                    <md-button class="md-icon-button" style="font-size:30px;" ng-click="close()">
                        @*<md-icon md-svg-src="" aria-label="Close dialog"></md-icon>*@
                        <span class="fa fa-close"  aria-label="Close dialog"></span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content id="printContent">
                @*<md-subheader class="md-sticky">Grand Total : {{po.grandTotal | currency:"Rp"}}</md-subheader>*@
                <div class="md-dialog-content">
                    <div layout-gt-sm="row">
                        <md-subheader class="md-sticky">Payment Receipt: </md-subheader>
                        <md-card>
                            <md-card-content>
                                <img src="{{image}}" class="md-card-image" alt="Payment Receipt">
                            </md-card-content>                           
                        </md-card>                       
                    </div>
                    <md-subheader class="md-sticky" ng-show="isPaid">Resi No: </md-subheader>
                    <div layout-gt-sm="row" ng-show="isPaid">
                        <md-card>
                            @*<md-input-container class="md-block">
                                @*<input ng-model="po.receiptNumber">*@
                                @*<label>Resi No:</label>*@
                                {{po.receiptNumber}}
                            @*</md-input-container>*@
                        </md-card>
                    </div>
                    <md-subheader class="md-sticky">Ordered Items: </md-subheader>
                    <div layout-gt-sm="row">
                        <div class="table-responsive col-lg-12">
                            <div>
                                <table class="table table-striped ngCart cart table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Weight (gramm)</th>
                                            <th>Quantity</th>
                                            <th>Quantity Adjustment</th>
                                            <th>Price</th>
                                            <th>Price Adjustment</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="supply in supplies">
                                            <td>
                                                {{supply.item.code}}
                                            </td>
                                            <td>
                                                {{ supply.item.name }}
                                            </td>
                                            <td>
                                                {{ supply.item.weight }}
                                            </td>
                                            <td>
                                                {{supply.quantity}}
                                            </td>
                                            <td >
                                                {{supply.quantityAdjustment}}
                                            </td>                                           
                                            <td>
                                                {{ supply.item.price | currency:"Rp." }}
                                            </td>
                                            <td ng-hide="isBod && !isPayment">
                                                {{ supply.priceAdjustment | currency:"Rp." }}
                                            </td>
                                            <td ng-show="isBod && !isPayment">
                                                <input type="number" min="0" class="pull-right" ng-model="supply.priceAdjustment" style="margin-left:40px;width:100%;" ng-disabled="isPaid">
                                            </td>
                                            <td>
                                                {{ supply.priceAdjustment * supply.quantityAdjustment | currency:"Rp." }}
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="7" align="right" width="80%"><strong>SubTotal:</strong></td>
                                            <td>{{ getSubTotal() | currency:"Rp." }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" align="right"><strong>Shipping Cost ({{ po.totalWeight}} kg):</strong></td>
                                            <td>{{ po.totalShipmentCost | currency:"Rp." }}</td>
                                        </tr>
                                        <tr ng-show="po.isAdjustment">
                                            <td colspan="7" align="right"><strong>Shipping Cost Adjustment({{ po.totalWeight}} kg):</strong></td>
                                            <td>{{ po.totalAdjustmentShipmentCost | currency:"Rp." }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" align="right"><strong>Total:</strong></td>
                                            <td><strong>{{ po.grandTotal + po.totalAdjustmentShipmentCost | currency:"Rp." }}</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <md-subheader class="md-sticky">Shipping Address Information: </md-subheader>
                    <div layout-gt-sm="row" class="table-responsive col-lg-12">
                        <table class="table table-striped ngCart cart table-bordered">
                            <tbody>
                                <tr>
                                    <td colspan="6">
                                        <div>
                                            <md-input-container class="md-block">
                                                <label>Phone Number</label>
                                                <input ng-model="po.phoneNumber" disabled>
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <label>Address</label>
                                                <input ng-model="po.address" disabled>
                                            </md-input-container>
                                            <div layout-gt-sm="row">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Province</label>
                                                    <input ng-model="po.province" disabled>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>City</label>
                                                    <input ng-model="po.city" disabled>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Postal Code</label>
                                                    <input name="postalCode" ng-model="po.postalCode" placeholder="12345"
                                                           required ng-pattern="/^[0-9]{5}$/" md-maxlength="5" disabled>
                                                    <div ng-messages="poForm.postalCode.$error" role="alert" multiple>
                                                        <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                                        <div ng-message="pattern" class="my-message">
                                                            That doesn't look like a valid postal
                                                            code.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Expedition</label>
                                                <input ng-model="po.expedition" disabled>
                                            </md-input-container>
                                            <md-input-container class="md-block" flex-gt-sm ng-show="po.isAdjustment">
                                                <label>Expedition Adjustment</label>
                                                <input ng-model="po.expeditionAdjustment" disabled>
                                            </md-input-container>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4" align="right" width="80%"><strong>Shipping first({{po.kiloQuantity}}kg):</strong></td>
                                    <td>{{ po.shipmentCostFirstKilo | currency:"Rp." }}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" align="right" width="80%"><strong>Shipping next(kg):</strong></td>
                                    <td>{{ po.shipmentCost | currency:"Rp." }}</td>
                                </tr>

                                <tr ng-show="po.isAdjustment">
                                    <td colspan="4" align="right" width="80%"><strong>Shipping Adjustment first({{po.kiloAdjustmentQuantity}}kg):</strong></td>
                                    <td>{{ po.shipmentAdjustmentCostFirstKilo | currency:"Rp." }}</td>
                                </tr>
                                <tr ng-show="po.isAdjustment">
                                    <td colspan="4" align="right" width="80%"><strong>Shipping Adjustment next(kg):</strong></td>
                                    <td>{{ po.shipmentAdjustmentCost | currency:"Rp." }}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" align="right"><strong>Total Weight:</strong></td>
                                    <td>{{ po.totalWeight }} kg</td>
                                </tr>
                                <tr>
                                    <td colspan="4" align="right"><strong>Total Shipping:</strong></td>
                                    <td><strong>{{ po.totalAdjustmentShipmentCost| currency:"Rp." }}</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                @*<md-button ng-click="updateReceipt()" ng-show="isPaid">
                    Finnalize
                </md-button>*@
                <md-button ng-click="update()"ng-show="isBod && !isPayment">
                    Update Price Adjustment
                </md-button>              
                <md-button ng-click="approve()" ng-show="isBod && !isPayment">
                    Approve For Payment
                </md-button>
                <md-button ng-click="reject()" ng-show="isBod && !isPayment">
                    Reject
                </md-button>  
                <md-button ng-click="changeToPaid()" ng-show="isNeedPayment">
                    Change To Paid
                </md-button>
                <md-button ng-click="sendToLogistic()" ng-show="isPaid">
                    Send to Logistic
                </md-button>
                <md-button ng-click="close()">
                    Close
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>