@model Animart.Portal.Web.Models.ForgotPasswordResultViewModel
@{
    ViewBag.Title = "Please check you email for confirmation.";
}
<h4>Change Password</h4>
<ul>
    <li><span class="text-muted">@L("EmailAddress"):</span> @Model.EmailAddress</li>
</ul>
<div>
    @if (Model.IsEmailConfirmationRequired)
    {
        <div class="alert alert-warning" role="alert">
            A confirmation mail sent to @Model.EmailAddress. Please click link in the email in order to confirm your mail address.
        </div>
    }

    @if (!Model.IsActive)
    {
        <div class="alert alert-warning" role="alert">
            Your account is blocked by system admin, please contact marketing@animart.co.id for further information.
        </div>
    }
    <a class="btn btn-success" href="@Url.Action("Login")"><i class="fa fa-sign-in"></i>Back To Home</a>

</div>