@model Animart.Portal.Web.Models.ResetPasswordResultViewModel
@{
    ViewBag.Title = "Please check you email for confirmation.";
}
<h4>Reset Password</h4>
<ul>
    <li><span class="text-muted">@L("EmailAddress"):</span> @Model.EmailAddress</li>
</ul>
<div>
    @if (Model.IsSuccess)
    {
        <div class="alert alert-warning" role="alert">
           Your password has been resetted.
        </div>
    }else
    {
        <div class="alert alert-warning" role="alert">
            Your password has been resetted.
        </div>
    }

    <a class="btn btn-success" href="@Url.Action("Login")"><i class="fa fa-sign-in"></i>Back To Home</a>
</div>